@charset "UTF-8";
@import "common/var";
@import "mixins/_button";
@import "mixins/mixins";
@import "mixins/utils";
@import "fragments/button_default";

@include b(button){
  //默认样式为primary-medium
  @extend %default-button;
  @include button-color($--color-white, $--color-primary, $--color-primary,$--color-primary-deep);
  @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
  @include when(round) {
    border-radius: 20px;
  }
  @include when(shadow) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }
  @include m(primary){
    @include button-color($--color-white, $--color-primary, $--color-primary,$--color-primary-deep);
  }
  @include m(success) {
    @include button-color($--color-white, $--color-success, $--color-success,$--color-success-deep);
  }
  @include m(warning) {
    @include button-color($--color-white, $--color-warning, $--color-warning,$--color-warning-deep);
  }
  @include m(danger) {
    @include button-color($--color-white, $--color-danger, $--color-danger,$--color-danger-deep);
  }
  @include m(info) {
    @include button-color($--color-white, $--color-info, $--color-info,$--color-info-deep);
  }
  @include m(dark) {
    @include button-color($--color-white,$--color-black-light,$--color-black-light,$--color-black-darker);
  }
  @include m(acent) {
    @include button-color($--color-white, $--color-acent, $--color-acent,$--color-acent-deep);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, 50%);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($--color-black, $--color-primary, 70%);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

}