@charset "UTF-8";
@import "common/var";
@import "mixins/_button";
@import "mixins/mixins";
@import "mixins/utils";
@import "common/fragment";

@include b(button){
  //默认样式为primary-medium
  @extend %default-button;
  @include button-color($--color-white, $--color-primary, $--color-primary);
  @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
  //朴素按钮
  // @include when(plain) {
  //   &:hover,
  //   &:focus {
  //     background: $--color-white;
  //     border-color: $--color-primary;
  //     color: $--color-primary;
  //   }

  //   &:active {
  //     background: $--color-white;
  //     border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  //     color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  //     outline: none;
  //   }
  // }
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }
  @include m(primary){
    @include button-color($--color-white, $--color-primary, $--color-primary);
  }
  @include m(success) {
    @include button-color($--color-white, $--color-success, $--color-success);
  }
  @include m(warning) {
    @include button-color($--color-white, $--color-warning, $--color-warning);
  }
  @include m(danger) {
    @include button-color($--color-white, $--color-danger, $--color-danger);
  }
  @include m(info) {
    @include button-color($--color-white, $--color-info, $--color-info);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, 50%);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($--color-black, $--color-primary, 70%);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

}