@charset "UTF-8";
/*!
*version:v-1.0.0
*describe:iconfont 淘宝图标 url：https://www.iconfont.cn/collections/detail?cid=33
*time:2021/9/23
*author:wenhai
*/
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
@font-face {
  font-family: "st-iconfont";
  /* Project id 2830858 */
  src: url("fonts/iconfont.woff2?t=1632401335334") format("woff2"), url("fonts/iconfont.woff?t=1632401335334") format("woff"), url("fonts/iconfont.ttf?t=1632401335334") format("truetype");
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: "auto";
  font-style: normal;
}
[class^=st-icon-], [class*=" st-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "st-iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-icon-appreciate:before {
  content: "\e644";
}

.st-icon-check:before {
  content: "\e645";
}

.st-icon-close:before {
  content: "\e646";
}

.st-icon-edit:before {
  content: "\e649";
}

.st-icon-emoji:before {
  content: "\e64a";
}

.st-icon-favorfill:before {
  content: "\e64b";
}

.st-icon-favor:before {
  content: "\e64c";
}

.st-icon-loading:before {
  content: "\e64f";
}

.st-icon-locationfill:before {
  content: "\e650";
}

.st-icon-location:before {
  content: "\e651";
}

.st-icon-phone:before {
  content: "\e652";
}

.st-icon-roundcheckfill:before {
  content: "\e656";
}

.st-icon-roundcheck:before {
  content: "\e657";
}

.st-icon-roundclosefill:before {
  content: "\e658";
}

.st-icon-roundclose:before {
  content: "\e659";
}

.st-icon-roundrightfill:before {
  content: "\e65a";
}

.st-icon-roundright:before {
  content: "\e65b";
}

.st-icon-search:before {
  content: "\e65c";
}

.st-icon-timefill:before {
  content: "\e65e";
}

.st-icon-time:before {
  content: "\e65f";
}

.st-icon-unfold:before {
  content: "\e661";
}

.st-icon-warnfill:before {
  content: "\e662";
}

.st-icon-warn:before {
  content: "\e663";
}

.st-icon-camerafill:before {
  content: "\e664";
}

.st-icon-camera:before {
  content: "\e665";
}

.st-icon-commentfill:before {
  content: "\e666";
}

.st-icon-comment:before {
  content: "\e667";
}

.st-icon-likefill:before {
  content: "\e668";
}

.st-icon-like:before {
  content: "\e669";
}

.st-icon-notificationfill:before {
  content: "\e66a";
}

.st-icon-notification:before {
  content: "\e66b";
}

.st-icon-order:before {
  content: "\e66c";
}

.st-icon-samefill:before {
  content: "\e66d";
}

.st-icon-same:before {
  content: "\e66e";
}

.st-icon-deliver:before {
  content: "\e671";
}

.st-icon-evaluate:before {
  content: "\e672";
}

.st-icon-pay:before {
  content: "\e673";
}

.st-icon-send:before {
  content: "\e675";
}

.st-icon-shop:before {
  content: "\e676";
}

.st-icon-ticket:before {
  content: "\e677";
}

.st-icon-back:before {
  content: "\e679";
}

.st-icon-discover:before {
  content: "\e67e";
}

.st-icon-list:before {
  content: "\e682";
}

.st-icon-more:before {
  content: "\e684";
}

.st-icon-scan:before {
  content: "\e689";
}

.st-icon-settings:before {
  content: "\e68a";
}

.st-icon-questionfill:before {
  content: "\e690";
}

.st-icon-question:before {
  content: "\e691";
}

.st-icon-shopfill:before {
  content: "\e697";
}

.st-icon-form:before {
  content: "\e699";
}

.st-icon-pic:before {
  content: "\e69b";
}

.st-icon-pulldown:before {
  content: "\e69f";
}

.st-icon-right:before {
  content: "\e6a3";
}

.st-icon-refresh:before {
  content: "\e6a4";
}

.st-icon-moreandroid:before {
  content: "\e6a5";
}

.st-icon-deletefill:before {
  content: "\e6a6";
}

.st-icon-refund:before {
  content: "\e6ac";
}

.st-icon-cart:before {
  content: "\e6af";
}

.st-icon-remind:before {
  content: "\e6b2";
}

.st-icon-profile:before {
  content: "\e6b7";
}

.st-icon-home:before {
  content: "\e6b8";
}

.st-icon-discoverfill:before {
  content: "\e6ba";
}

.st-icon-homefill:before {
  content: "\e6bb";
}

.st-icon-message:before {
  content: "\e6bc";
}

.st-icon-addressbook:before {
  content: "\e6bd";
}

.st-icon-link:before {
  content: "\e6bf";
}

.st-icon-vip:before {
  content: "\e6c3";
}

.st-icon-friendaddfill:before {
  content: "\e6c9";
}

.st-icon-friendadd:before {
  content: "\e6ca";
}

.st-icon-goods:before {
  content: "\e6cd";
}

.st-icon-tmall:before {
  content: "\e6cf";
}

.st-icon-roundaddfill:before {
  content: "\e6d8";
}

.st-icon-roundadd:before {
  content: "\e6d9";
}

.st-icon-add:before {
  content: "\e6da";
}

.st-icon-fold:before {
  content: "\e6de";
}

.st-icon-game:before {
  content: "\e6df";
}

.st-icon-redpacket:before {
  content: "\e6e0";
}

.st-icon-similar:before {
  content: "\e6e2";
}

.st-icon-appreciatefill:before {
  content: "\e6e3";
}

.st-icon-infofill:before {
  content: "\e6e4";
}

.st-icon-friendfavor:before {
  content: "\e6f1";
}

.st-icon-wifi:before {
  content: "\e6f2";
}

.st-icon-share:before {
  content: "\e6f3";
}

.st-icon-sort:before {
  content: "\e700";
}

.st-icon-down:before {
  content: "\e703";
}

.st-icon-copy:before {
  content: "\e706";
}

.st-icon-noticefill:before {
  content: "\e709";
}

.st-icon-female:before {
  content: "\e71a";
}

.st-icon-male:before {
  content: "\e71c";
}

.st-icon-pullright:before {
  content: "\e720";
}

.st-icon-rankfill:before {
  content: "\e721";
}

.st-icon-bad:before {
  content: "\e723";
}

.st-icon-focus:before {
  content: "\e725";
}

.st-icon-friendfill:before {
  content: "\e726";
}

.st-icon-peoplefill:before {
  content: "\e735";
}

.st-icon-attentionfill:before {
  content: "\e73c";
}

.st-icon-attention:before {
  content: "\e73d";
}

.st-icon-commandfill:before {
  content: "\e73e";
}

.st-icon-communityfill:before {
  content: "\e740";
}

.st-icon-community:before {
  content: "\e741";
}

.st-icon-calendar:before {
  content: "\e74a";
}

.st-icon-backwardfill:before {
  content: "\e74d";
}

.st-icon-playfill:before {
  content: "\e74f";
}

.st-icon-hotfill:before {
  content: "\e757";
}

.st-icon-write:before {
  content: "\e761";
}

.st-icon-radioboxfill:before {
  content: "\e763";
}

.st-icon-add1:before {
  content: "\e767";
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
@keyframes animate-loading {
  74% {
    transform: rotate(600deg);
  }
  79% {
    transform: rotate(720deg);
    opacity: 1;
  }
  80% {
    transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    transform: rotate(810deg);
    opacity: 0;
  }
}
@keyframes st-ripples-ani {
  0% {
    width: 50px;
    height: 40px;
    opacity: 1;
  }
  100% {
    width: 800px;
    height: 800px;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
@keyframes st-scalIn-ani {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* BEM support Func
 -------------------------- */
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
.st-button {
  display: inline-block;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  background: #285de6;
  border: #285de6;
  border-color: #285de6;
  color: #FFFFFF;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  border: 1px solid;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.st-button::-moz-focus-inner {
  border: 0;
}
.st-button + .st-button {
  margin-left: 10px;
}
.st-button [class*=el-icon-] + span {
  margin-left: 5px;
}
.st-button:hover {
  color: #FFFFFF;
  border-color: #2146a5;
  background-color: #2146a5;
}

.st-button {
  color: #FFFFFF;
  background-color: #285de6;
  border-color: #285de6;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.st-button:hover {
  background: #2146a5;
  border-color: #2146a5;
  color: #FFFFFF;
}
.st-button.is-active {
  background: #2454cf;
  border-color: #2454cf;
  color: #FFFFFF;
}
.st-button.is-disabled, .st-button.is-disabled:hover, .st-button.is-disabled:focus, .st-button.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button.is-plain {
  color: #285de6;
  background: #eaeffd;
  border-color: #a9bef5;
}
.st-button.is-plain:hover {
  border-color: #1c41a1;
}
.st-button.is-plain:active {
  border-color: #2454cf;
  outline: none;
}
.st-button.is-plain.is-disabled, .st-button.is-plain.is-disabled:hover, .st-button.is-plain.is-disabled:focus, .st-button.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #a9bef5;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button .st-loader > .st-dot::before {
  background-color: #7396ef !important;
}
.st-button.is-round {
  padding: 8px 16px;
}
.st-button .st-loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 46px;
}
.st-button .st-loader .st-dot {
  top: 0;
  left: 0;
  position: absolute;
  height: 30px;
  width: 46px;
  animation: animate-loading 3s linear infinite;
}
.st-button .st-loader .st-dot::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: 6px;
  left: calc(50% - 5px);
  border-radius: 50%;
}
.st-button .st-loader .st-dot:nth-child(1) {
  animation-delay: 0.1s;
}
.st-button .st-loader .st-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.st-button .st-loader .st-dot:nth-child(3) {
  animation-delay: 0.3s;
}
.st-button .st-loader .st-dot:nth-child(4) {
  animation-delay: 0.4s;
}
.st-button .st-loader .st-dot:nth-child(5) {
  animation-delay: 0.5s;
}
.st-button.is-round {
  border-radius: 20px;
}

.st-button.is-shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.st-button.is-circle {
  border-radius: 50%;
  padding: 12px;
}

.st-button--primary {
  color: #FFFFFF;
  background-color: #285de6;
  border-color: #285de6;
}
.st-button--primary:hover {
  background: #2146a5;
  border-color: #2146a5;
  color: #FFFFFF;
}
.st-button--primary.is-active {
  background: #2454cf;
  border-color: #2454cf;
  color: #FFFFFF;
}
.st-button--primary.is-disabled, .st-button--primary.is-disabled:hover, .st-button--primary.is-disabled:focus, .st-button--primary.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--primary.is-plain {
  color: #285de6;
  background: #eaeffd;
  border-color: #a9bef5;
}
.st-button--primary.is-plain:hover {
  border-color: #1c41a1;
}
.st-button--primary.is-plain:active {
  border-color: #2454cf;
  outline: none;
}
.st-button--primary.is-plain.is-disabled, .st-button--primary.is-plain.is-disabled:hover, .st-button--primary.is-plain.is-disabled:focus, .st-button--primary.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--primary .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #a9bef5;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--primary .st-loader > .st-dot::before {
  background-color: #7396ef !important;
}

.st-button--success {
  color: #FFFFFF;
  background-color: #008655;
  border-color: #008655;
}
.st-button--success:hover {
  background: #026341;
  border-color: #026341;
  color: #FFFFFF;
}
.st-button--success.is-active {
  background: #00794d;
  border-color: #00794d;
  color: #FFFFFF;
}
.st-button--success.is-disabled, .st-button--success.is-disabled:hover, .st-button--success.is-disabled:focus, .st-button--success.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--success.is-plain {
  color: #008655;
  background: #e6f3ee;
  border-color: #99cfbb;
}
.st-button--success.is-plain:hover {
  border-color: #005e3c;
}
.st-button--success.is-plain:active {
  border-color: #00794d;
  outline: none;
}
.st-button--success.is-plain.is-disabled, .st-button--success.is-plain.is-disabled:hover, .st-button--success.is-plain.is-disabled:focus, .st-button--success.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--success .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #99cfbb;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--success .st-loader > .st-dot::before {
  background-color: #59b091 !important;
}

.st-button--warning {
  color: #FFFFFF;
  background-color: #fb8c00;
  border-color: #fb8c00;
}
.st-button--warning:hover {
  background: #dd9426;
  border-color: #dd9426;
  color: #FFFFFF;
}
.st-button--warning.is-active {
  background: #e27e00;
  border-color: #e27e00;
  color: #FFFFFF;
}
.st-button--warning.is-disabled, .st-button--warning.is-disabled:hover, .st-button--warning.is-disabled:focus, .st-button--warning.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--warning.is-plain {
  color: #fb8c00;
  background: #fff4e6;
  border-color: #fdd199;
}
.st-button--warning.is-plain:hover {
  border-color: #b06200;
}
.st-button--warning.is-plain:active {
  border-color: #e27e00;
  outline: none;
}
.st-button--warning.is-plain.is-disabled, .st-button--warning.is-plain.is-disabled:hover, .st-button--warning.is-plain.is-disabled:focus, .st-button--warning.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--warning .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #fdd199;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--warning .st-loader > .st-dot::before {
  background-color: #fcb459 !important;
}

.st-button--danger {
  color: #FFFFFF;
  background-color: #df161c;
  border-color: #df161c;
}
.st-button--danger:hover {
  background: #a0141a;
  border-color: #a0141a;
  color: #FFFFFF;
}
.st-button--danger.is-active {
  background: #c91419;
  border-color: #c91419;
  color: #FFFFFF;
}
.st-button--danger.is-disabled, .st-button--danger.is-disabled:hover, .st-button--danger.is-disabled:focus, .st-button--danger.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--danger.is-plain {
  color: #df161c;
  background: #fce8e8;
  border-color: #f2a2a4;
}
.st-button--danger.is-plain:hover {
  border-color: #9c0f14;
}
.st-button--danger.is-plain:active {
  border-color: #c91419;
  outline: none;
}
.st-button--danger.is-plain.is-disabled, .st-button--danger.is-plain.is-disabled:hover, .st-button--danger.is-plain.is-disabled:focus, .st-button--danger.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--danger .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #f2a2a4;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--danger .st-loader > .st-dot::before {
  background-color: #ea686b !important;
}

.st-button--info {
  color: #FFFFFF;
  background-color: #909399;
  border-color: #909399;
}
.st-button--info:hover {
  background: #9399a7;
  border-color: #9399a7;
  color: #FFFFFF;
}
.st-button--info.is-active {
  background: #82848a;
  border-color: #82848a;
  color: #FFFFFF;
}
.st-button--info.is-disabled, .st-button--info.is-disabled:hover, .st-button--info.is-disabled:focus, .st-button--info.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--info.is-plain {
  color: #909399;
  background: #f4f4f5;
  border-color: #d3d4d6;
}
.st-button--info.is-plain:hover {
  border-color: #65676b;
}
.st-button--info.is-plain:active {
  border-color: #82848a;
  outline: none;
}
.st-button--info.is-plain.is-disabled, .st-button--info.is-plain.is-disabled:hover, .st-button--info.is-plain.is-disabled:focus, .st-button--info.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--info .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #d3d4d6;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--info .st-loader > .st-dot::before {
  background-color: #b7b9bd !important;
}

.st-button--dark {
  color: #FFFFFF;
  background-color: #1d1d1d;
  border-color: #1d1d1d;
}
.st-button--dark:hover {
  background: #0e0d0d;
  border-color: #0e0d0d;
  color: #FFFFFF;
}
.st-button--dark.is-active {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: #FFFFFF;
}
.st-button--dark.is-disabled, .st-button--dark.is-disabled:hover, .st-button--dark.is-disabled:focus, .st-button--dark.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--dark.is-plain {
  color: #1d1d1d;
  background: #e8e8e8;
  border-color: #a5a5a5;
}
.st-button--dark.is-plain:hover {
  border-color: #141414;
}
.st-button--dark.is-plain:active {
  border-color: #1a1a1a;
  outline: none;
}
.st-button--dark.is-plain.is-disabled, .st-button--dark.is-plain.is-disabled:hover, .st-button--dark.is-plain.is-disabled:focus, .st-button--dark.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--dark .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #a5a5a5;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--dark .st-loader > .st-dot::before {
  background-color: #6c6c6c !important;
}

.st-button--acent {
  color: #FFFFFF;
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.st-button--acent:hover {
  background: #7d2a8b;
  border-color: #7d2a8b;
  color: #FFFFFF;
}
.st-button--acent.is-active {
  background: #8c239e;
  border-color: #8c239e;
  color: #FFFFFF;
}
.st-button--acent.is-disabled, .st-button--acent.is-disabled:hover, .st-button--acent.is-disabled:focus, .st-button--acent.is-disabled:active {
  color: #a1a1a1;
  background-color: #e4e4e4;
  border-color: transparent;
  cursor: not-allowed;
}
.st-button--acent.is-plain {
  color: #9c27b0;
  background: #f5e9f7;
  border-color: #d7a9df;
}
.st-button--acent.is-plain:hover {
  border-color: #6d1b7b;
}
.st-button--acent.is-plain:active {
  border-color: #8c239e;
  outline: none;
}
.st-button--acent.is-plain.is-disabled, .st-button--acent.is-plain.is-disabled:hover, .st-button--acent.is-plain.is-disabled:focus, .st-button--acent.is-plain.is-disabled:active {
  color: #a1a1a1;
  background-color: #FFFFFF;
  border-color: #a1a1a1;
  cursor: not-allowed;
}
.st-button--acent .st-ripples-append {
  height: 40px;
  width: 50px;
  position: absolute;
  background: #d7a9df;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: st-ripples-ani 0.7s ease-in-out;
}
.st-button--acent .st-loader > .st-dot::before {
  background-color: #bf73cc !important;
}

.st-button--medium {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.st-button--medium.is-round {
  padding: 8px 16px;
}
.st-button--medium .st-loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 46px;
}
.st-button--medium .st-loader .st-dot {
  top: 0;
  left: 0;
  position: absolute;
  height: 30px;
  width: 46px;
  animation: animate-loading 3s linear infinite;
}
.st-button--medium .st-loader .st-dot::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: 6px;
  left: calc(50% - 5px);
  border-radius: 50%;
}
.st-button--medium .st-loader .st-dot:nth-child(1) {
  animation-delay: 0.1s;
}
.st-button--medium .st-loader .st-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.st-button--medium .st-loader .st-dot:nth-child(3) {
  animation-delay: 0.3s;
}
.st-button--medium .st-loader .st-dot:nth-child(4) {
  animation-delay: 0.4s;
}
.st-button--medium .st-loader .st-dot:nth-child(5) {
  animation-delay: 0.5s;
}
.st-button--medium.is-circle {
  padding: 8px;
}

.st-button--small {
  padding: 8px 14px;
  font-size: 12px;
  border-radius: 3px;
}
.st-button--small.is-round {
  padding: 8px 14px;
}
.st-button--small .st-loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 28px;
  width: 40px;
}
.st-button--small .st-loader .st-dot {
  top: 0;
  left: 0;
  position: absolute;
  height: 28px;
  width: 40px;
  animation: animate-loading 3s linear infinite;
}
.st-button--small .st-loader .st-dot::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: 6px;
  left: calc(50% - 5px);
  border-radius: 50%;
}
.st-button--small .st-loader .st-dot:nth-child(1) {
  animation-delay: 0.1s;
}
.st-button--small .st-loader .st-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.st-button--small .st-loader .st-dot:nth-child(3) {
  animation-delay: 0.3s;
}
.st-button--small .st-loader .st-dot:nth-child(4) {
  animation-delay: 0.4s;
}
.st-button--small .st-loader .st-dot:nth-child(5) {
  animation-delay: 0.5s;
}
.st-button--small.is-circle {
  padding: 8px;
}

.st-button--mini {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 3px;
}
.st-button--mini.is-round {
  padding: 6px 12px;
}
.st-button--mini .st-loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 36px;
}
.st-button--mini .st-loader .st-dot {
  top: 0;
  left: 0;
  position: absolute;
  height: 24px;
  width: 36px;
  animation: animate-loading 3s linear infinite;
}
.st-button--mini .st-loader .st-dot::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  bottom: 6px;
  left: calc(50% - 5px);
  border-radius: 50%;
}
.st-button--mini .st-loader .st-dot:nth-child(1) {
  animation-delay: 0.1s;
}
.st-button--mini .st-loader .st-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.st-button--mini .st-loader .st-dot:nth-child(3) {
  animation-delay: 0.3s;
}
.st-button--mini .st-loader .st-dot:nth-child(4) {
  animation-delay: 0.4s;
}
.st-button--mini .st-loader .st-dot:nth-child(5) {
  animation-delay: 0.5s;
}
.st-button--mini.is-circle {
  padding: 6px;
}

.st-button--text {
  border-color: transparent;
  color: #285de6;
  background: transparent;
  padding-left: 10px;
  padding-right: 10px;
}
.st-button--text:hover, .st-button--text:focus {
  color: #94aef3;
  border-color: transparent;
  background-color: transparent;
}
.st-button--text:active {
  color: #0c1c45;
  border-color: transparent;
  background-color: transparent;
}
.st-button--text.is-disabled, .st-button--text.is-disabled:hover, .st-button--text.is-disabled:focus {
  border-color: transparent;
}

/* BEM support Func
 -------------------------- */
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* 主要背景颜色
-------------------------- */
/* 混合颜色
-------------------------- */
/* a0cfff */
/* a0cfff */
/* a0cfff */
/* 字体相关
--------------------*/
/* Typography
-------------------------- */
/* Size
-------------------------- */
.st-alert {
  height: 100px;
  width: 500px;
  background-color: red;
}

.dialog-fade-enter-active {
  animation: dialog-fade-in 0.3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out 0.3s;
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
