@charset "UTF-8";
@import "../common/var";
@import "../mixins/utils";
%dialog-default{
    position: relative;
    margin: 0 auto 50px;
    background: $--dialog-background-color;
    border-radius: $--border-radius-base;
    box-shadow: $--dialog-box-shadow;
    box-sizing: border-box;
    width: 50%;

  }
%dialog-mask-default{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
}
%dialog-header-default{
    padding: $--dialog-padding-primary;
    padding-bottom: 10px;
}
%dialog-body-default{
    padding: ($--dialog-padding-primary + 10px) $--dialog-padding-primary;
    color: $--color-black;
    font-size: $--dialog-content-font-size;
    word-break: break-all;
}
%dialog-footer-default{
    padding: $--dialog-padding-primary;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
}
