@import "../common/var";
@import "../common/animations.scss";
@mixin button-plain($color) {
  color: $color;
  background: mix($--color-white, $color, 90%);
  border-color: mix($--color-white, $color, 60%);

  &:hover
  {
    border-color: mix($--color-black, $color, 30%);
  }

  &:active {
    // background: mix($--color-black, $color, 10%);
    border-color: mix($--color-black, $color, 10%);
    // color: $--color-white;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--font-disabled-gray;
      background-color: $--color-white;
      border-color: $--font-disabled-gray;
      cursor:not-allowed;
    }
  }
}
@mixin button-color($color, $background-color, $border-color,$background-deep) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  
    &:hover {
      background: $background-deep;
      border-color: $background-deep;
      color: $color;
    }
    
    &.is-active {
      background: mix($--color-black, $background-color, 10%);
      border-color: mix($--color-black, $border-color, 10%);
      color: $color;
    }
  
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--font-disabled-gray;
        background-color: $--color-disabled-gray;
        border-color: transparent;
        cursor:not-allowed;
      }
    }
  
    &.is-plain {
      @include button-plain($background-color);
    }
    .st-ripples-append{
      height: 40px;
      width: 50px;
      position: absolute;
      background:  mix($--color-white, $background-color, 60%);
      transform:translate(-50%,-50%);
      pointer-events: none;
      border-radius: 50%;
      animation: st-ripples-ani .7s ease-in-out;
    }
    //加载动画颜色
    .st-loader>.st-dot{
          &::before {
            background-color: mix($--color-white, $background-color, 35%)!important;
        }
    }
  }

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
    &.is-round {
      padding: $padding-vertical $padding-horizontal;
    }
    .st-loader{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: $padding-vertical*2+$font-size;
      width: $padding-horizontal*2+$font-size;
      .st-dot{
        top: 0;
        left: 0;
        position: absolute;
        height: $padding-vertical*2+$font-size;
        width: $padding-horizontal*2+$font-size;
        animation: animate-loading 3s linear infinite;
        &::before {
            position: absolute;
            content: "";
            width: 3px;
            height: 3px;
            bottom: 6px;
            left: calc(50% - 5px);
            border-radius: 50%;
        }
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
        
        &:nth-child(5) {
            animation-delay: 0.5s;
        }

 
      }

    }
  }