/* 主要背景颜色
-------------------------- */
///主色调
$--color-primary: #285de6 !default;
$--color-primary-deep: #2146a5 !default;
$--background-color-base: #F5F7FA !default;

///黑白
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;
/// 成功颜色
$--color-success: #008655 !default;
$--color-success-deep: #026341 !default;
/// 提示颜色
$--color-warning: 	#fb8c00 !default;
$--color-warning-deep: #dd9426 !default;
/// 警告颜色
$--color-danger: #df161c !default;
$--color-danger-deep: #a0141a !default;
/// 灰色颜色
$--color-info: #909399 !default;
$--color-info-deep: #9399a7 !default;
/// 紫色颜色
$--color-acent: #9c27b0 !default;
$--color-acent-deep: #7d2a8b !default;
///禁用颜色
$--color-disabled-gray:	#e4e4e4 !default;
///黑色背景
$--color-black-light:#1d1d1d;
$--color-black-darker:#0e0d0d;
//字体颜色
$--font-disabled-gray:	#a1a1a1 !default;


/* 混合颜色
-------------------------- */
//混合主色调蓝色
$--primary-mix-3: mix($--color-white, $--color-primary, 30%) !default; /* a0cfff */
$--primary-mix-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--primary-mix-7: mix($--color-white, $--color-primary, 70%) !default; /* a0cfff */



/* 字体相关
--------------------*/
/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;
/// fontSize|1|Font Size|0
$--font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 12px !default;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-primary: 24px !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: #bbb !default;
/* Size
-------------------------- */
$--size-base: 14px !default;

///圆角相关
$--border-radius-base:4px !default;

/// fontSize||Font|1
$--button-font-size: $--font-size-base !default;
/// fontWeight||Font|1
$--button-font-weight: $--font-weight-primary !default;
/// borderRadius||Border|2
$--button-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-padding-vertical: 12px !default;
/// padding||Spacing|3
$--button-padding-horizontal: 20px !default;
//一般按钮
$--button-medium-font-size: $--font-size-base !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 8px !default;
$--button-medium-padding-horizontal: 16px !default;
//小按钮
$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 8px !default;
$--button-small-padding-horizontal: 14px !default;
//mini按钮
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 6px !default;
$--button-mini-padding-horizontal: 12px !default;

//dialog弹窗相关
$--dialog-background-color: $--color-white !default;
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
/// fontSize||Font|1
$--dialog-title-font-size: $--font-size-large !default;
/// fontSize||Font|1
$--dialog-content-font-size: 14px !default;
/// fontLineHeight||LineHeight|2
$--dialog-font-line-height: $--font-line-height-primary !default;
/// padding||Spacing|3
$--dialog-padding-primary: 20px !default;


